.accordion {
    width: 100%;
  }
  
  .accordion-head {
    padding: 10px 0 ;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .accordion-content {
    padding: 0 10px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    font-size: 1rem;
    opacity: 0;
  }
  
  .accordion-content.opened {
    max-height: 100px;
    padding: 10px;
    opacity: 1;
  }
  
  hr {
    margin: 0;
    border: none;
    border-top: 1px solid #ccc;
  }
  