.navlinks {
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.nav-cont {
  min-width: 80% !important;
}

.navbar.scrolled {
  background-color: rgba(19, 50, 90, 0.856) !important;
  padding-top: 1rem;
  transition: background-color 0.5s, padding-top 0.5s;
}

.custom-position {
  position: fixed !important;
  width: 100%;
  z-index: 999;
}
.pages .inpage {
  opacity: 0;
  cursor: pointer;
  transform: translate(0px,40px);
  transition: opacity 0.5s ease,transform 0.5s ease;
}
.pages .nav-link:hover + .inpage{
  opacity: 1;
  transition: opacity 0.5s ease,transform 0.5s ease;
  transform: translate(0px,0px);
}
.pages .inpage:hover{
  opacity: 1;
  transition: opacity 0.5s ease,transform 0.5s ease;
  transform: translate(0px,0px);
}

.inpage {
  padding: 1rem 7rem 0.5rem 1rem;
}
.inpage :nth-child(2){
  margin-top: 1rem;
}
.navapply:hover{
color: white !important;
}

.mobile-nav{
  display: flex;
  position: relative;
  top:15%;
  background-color: darkslategray;
}
.menu-button{
  background-color: black;
  color: white;
  padding: 0.2rem 1rem;
  display: flex;
  align-items: center;
  gap: 7px;
  cursor: pointer;
}

.menu-closed,.pages-closed,.blog-closed{
  height: 0px;
  overflow: hidden;
  transition: height 0.5s ease;
}
.menu-opened{
  height: 350px;
  overflow: hidden;
  transition: height 0.5s ease;
}
.menu-opened:has(.pages-closed){
  height: 280px;
}
.menu-opened:has(.blog-closed){
  height: 280px;
}
.pages-opened,.blog-opened{
  height: 50px;
  overflow: hidden;
  transition: height 0.5s ease;
}